<div class="homeowner-card">
  <div class="homeowner-header">
    {{homeowner.full_name}}
  </div>
  <div class="card-body">
    <p>
      Address:
      {{homeowner.address}}
    </p>
    <p>
      City:
      {{homeowner.city}}
    </p>
     <p>
      State:
      {{homeowner.state}}
    </p>
     <p>
      Zip:
      {{homeowner.zip}}
    </p>
     <p>
      Phone number:
      {{homeowner.phoneNumber}}
    </p> 
  </div>
</div>

