<div class="homeowner-card">
  <div class="homeowner-header">
    {{homeowner.full_name}}
  </div>
  <div class="card-body">
    <p>
      Address:
      {{homeowner.address}}
    </p>
    <p>
      City:
      {{homeowner.city}}
    </p>
     <p>
      State:
      {{homeowner.state}}
    </p>
     <p>
      Zip:
      {{homeowner.zip}}
    </p>
     <p>
      Phone number:
      {{homeowner.phoneNumber}}
    </p> 
  </div>
</div>

<div class="homeowner-card">
    <h2 class="card-title">Home Projects</h2>
    <form class="form project-form">
      <div class="project-form-group">
        <label for="project-title">Project Title:</label>
        <input class="project-input" type="text" id="project-title" />
      </div>
          <div class="project-form-group">
        <label for="project-description">Project Description:</label>
        <input class="project-input" type="text" id="project-description" />
      </div>
    </form>
</div>

