<div class="container">
  <div class="card-container">
    <div class="homeowner-card">
      <div class="homeowner-header">
        {{homeowner.full_name}}
      </div>
      <div class="card-body">
        <p>
          Address:
          {{homeowner.address}}
        </p>
        <p>
          City:
          {{homeowner.city}}
        </p>
        <p>
          State:
          {{homeowner.state}}
        </p>
        <p>
          Zip:
          {{homeowner.zip}}
        </p>
      </div>
    </div>
  </div>

  <div class="homeowner-card">
    <h2 class="card-title">Home Projects</h2>
      <form class="form project-form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="project-name" placeholder="Bathroom Remodel">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Project Details</label>
          <textarea class="form-control" id="project-details" rows="3"></textarea>
        </div>
        <div class="project-form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
  </div>
</div>

